<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.twitter.terngame"
          android:versionCode="2"
          android:versionName="1.0">

    <uses-sdk
            android:minSdkVersion="9"
            android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <meta-data
                android:name="android.nfc.disable_beam_default"
                android:value="true"/>

        <receiver
                android:name="com.twitter.terngame.util.HintNotification"
                android:enabled="true">
            <intent-filter>
                <action android:name="com.twitter.terngame.SEND_HINT"/>
            </intent-filter>
        </receiver>

        <activity
                android:name="com.twitter.terngame.StartActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.twitter.terngame.MainActivity"
                android:launchMode="singleTop">
        </activity>
        <activity
                android:name="com.twitter.terngame.PuzzleActivity"
                android:launchMode="singleTop">
        </activity>
        <activity
            android:name="com.twitter.terngame.AdminDataActivity"></activity>
        <activity android:name="com.twitter.terngame.GuessActivity">
        </activity>
        <activity android:name="com.twitter.terngame.GuessLogActivity">
        </activity>
        <activity android:name="com.twitter.terngame.AdminActivity">
        </activity>
        <activity android:name="com.twitter.terngame.StatusActivity">
        </activity>
        <activity android:name="com.twitter.terngame.HintListActivity">
        </activity>
        <activity android:name="com.twitter.terngame.HintActivity">
        </activity>

        <meta-data android:name="com.crashlytics.ApiKey" android:value="060629362bf0d9735460c4bcca7d789bf25ca35d"/>
    </application>

</manifest>
